@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "mixins";

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: $gray;
}
::-webkit-scrollbar-thumb {
  background: $highlight;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: $dark-gray;
}

body {
  background-color: $gray;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease-in-out;
  opacity: 0.7;
}

.nav {
  height: 80vh;
  width: 100%;

  &__image {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: url("../assets/hero_demo.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(30%);
  }

  &__logo {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 120px;
    height: auto;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30vh;
    z-index: 2;
    width: 100%;
    padding: 10px;

    &__header {
      color: white;
      font-weight: 100;
      font-size: 14px;
      text-align: center;
      line-height: normal;

      &__main-text {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        
        @include tablet {
          font-size: 18px;
        }
        @include desktop {
          font-size: 30px;
        }
      }

      &__secondary-text {
        @include tablet {
          font-size: 17px;
        }
        @include desktop {
          font-size: 20px;
        }
      }

      &__buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        &__button {
          margin: 2px;
          border-radius: 3px;
          font-size: 11px;
          color: white;
          @include tablet {
            font-size: 12px;
            font-weight: 600;
          }
          @include desktop {
            font-size: 14px;
          }
        }
        :nth-child(1) {
          div {
            padding: 7px 22px;
            background-color: $highlight;
            @include tablet {
              padding: 7px 25px;
            }
            @include desktop {
              padding: 12px 27px;
            }
          }
        }
        :nth-child(2) {
          div {
            padding: 5px 20px;
            border: 2px solid white;
            @include tablet {
              padding: 5px 23px;
            }
            @include desktop {
              padding: 10px 25px;
            }
          }
        }
      }
    }
    @include tablet {
      padding: 0 25%;
    }
    @include desktop {
      padding: 0 25%;
    }
  }
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: "100%";
  padding: 10px;
  &__gray {
    z-index: 1;
    height: 1px;
    width: 100px;
    background-color: #ccc;
  }
  &__highlight {
    position: absolute;
    z-index: 2;
    height: 2px;
    width: 50px;
    background-color: $highlight;
  }
}

h3 {
  font-size: 18px;
  margin: 5px;
  @include tablet {
    font-size: 19px;
  }
  @include desktop {
    font-size: 22px;
  }
}

.main {
  padding: 30px 10px 0px 10px;
  width: 100%;
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
    P {
      color: grey;
      font-size: 13px;
    }
    @include tablet {
      padding: 0 20%;
      p {
        font-size: 15px;
      }
    }
    @include desktop {
      p {
        font-size: 18px;
      }
    }
  }

  &__grid {
    display: grid;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-picture {
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        height: 40vh;
        width: 100%;
        background-color: white;
        box-shadow: 0 0 20px $shadow;
        border-radius: 5px;
        &:hover {
          transform: scale(1.05);
        }
        @include tablet {
          height: 60vh;
        }
        @include desktop {
          height: 50vh;
        }

        img {
          position: absolute;
          width: calc(100% - 50px);
          @include tablet {
            width: 100%;
          }
          @include desktop {
            width: 100%;
          }
        }
      }

      &-title {
        font-size: 13px;
        font-weight: 600;
        padding-top: 10px;
        &-highlight {
          color: $highlight;
        }
        @include desktop {
          font-size: 15px;
        }
      }
    }
    @include tablet {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
      padding: 10px 70px;
    }
    @include desktop {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 40px;
      padding: 30px 80px;
    }
  }
}

.carousel {
  background-color: $light-gray;
  box-shadow: 0 -10px 20px $shadow;
  padding: 30px 5px 40px 5px;
  text-align: center;
  &__elements {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
  }
  &__image {
    overflow: hidden;
    margin: 3px;
    max-height: 250px;
    width: 100%;
    &:hover {
      transform: scale(1.03);
      z-index: 1;
    }
    img {
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    &-circle {
      border-radius: 50%;
      margin: 5px;
      height: 10px;
      width: 10px;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.05);
      }
      @include desktop {
        height: 13px;
        width: 13px;
      }
    }
    .active {
      background-color: $highlight;
    }
    .disabled {
      background-color: #bbb;
    }
    @include tablet {
      .md {
        display: none;
      }
    }
    @include desktop {
      .md,
      .lg {
        display: none;
      }
    }
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 100px;
    width: 100%;
    &__content {
      border-radius: 20px;
      background-color: $highlight;
      color: white;
      font-weight: 600;
      font-size: 11px;
      padding: 5px 20px;
      p {
        margin: 0;
      }
      @include desktop {
        font-size: 13px;
        padding: 8px 23px;
      }
    }

    @include desktop {
      justify-content: flex-end;
    }
  }

  .second,
  .third {
    display: none;
  }
  @include tablet {
    .second {
      display: inherit;
    }
  }
  @include desktop {
    .second {
      display: inherit;
    }
    .third {
      display: inherit;
    }
  }
}

.footer {
  background-color: white;
  box-shadow: 0 -1px 3px $shadow;
  padding: 30px;
  &__text {
    margin: 0;
    text-align: center;
    font-size: 12px;
    &__highlight {
      color: $highlight;
    }
    @include desktop {
      font-size: 14px;
    }
  }
}
